<% provide(:title, "") %>

<div class="container container-top">
  <div class="col col-md-6 offset-3 login-top">
    <div class="center jumbotron">
      <p>簡易予定表</p>
      <div class="login-form">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
          <%= f.email_field :email, placeholder: "#{User.human_attribute_name :email}", class: 'form-control user-form' %>

          <%= f.password_field :password, placeholder: "#{User.human_attribute_name :password}", class: 'form-control user-form' %>

          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>
          <div class="center">
            <%= f.submit "ログイン", class: "btn btn-default btn-login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "ユーザー登録", signup_path %>
<%= link_to "ユーザー一覧", users_path %>
