<% provide(:title, @user.name) %>

<div class="btn-users-show">
  <%= link_to "⇦ 前月", user_path(date: @first_day.prev_month), class: "btn btn-sm btn-default" %>
  <%= link_to "次月 ⇨", user_path(date: @first_day.next_month), class: "btn btn-sm btn-default" %>
</div>

<div>
    <table class="table table-bordered table-condensed table-hover" id="table-plans">
      <thead>
        <tr>
          <th width="50"><%= Plan.human_attribute_name :planned_on %></th>
          <th width="50"></th>
          <th width="50"></th>
          <th></th>
          <th><%= Plan.human_attribute_name :note %></th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |day| %>
          <% if day.planned_on == Date.current %>
            <tr class="bg-today">
          <% else %>
            <tr>
          <% end %>
          <td><%= l(day.planned_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.planned_on.wday] %></td>
          <td>
            <% if Date.current == day.planned_on %>
              <%= link_to "", edit_user_plan_path(@user, day), class: "fas fa-edit" %>
            <% end %>
          </td>
          <td>
            <span class="badge badge-success"><%= plan_1_text(day.plan_1) %></span>
            <span class="badge badge-success"><%= plan_2_text(day.plan_2) %></span>
            <span class="badge badge-success"><%= plan_3_text(day.plan_3) %></span>
            <span class="badge badge-success"><%= plan_4_text(day.plan_4) %></span>
            <span class="badge badge-danger"><%= plan_5_text(day.plan_5) %></span>
            <span class="badge badge-danger"><%= plan_6_text(day.plan_6) %></span>
            <span class="badge badge-dark"><%= plan_7_text(day.plan_7) %></span>
          </td>
          <td><%= truncate(day.note, length: 11) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
