<% provide(:title, "予定登録") %>

<div class="row justify-content-md-center">
  <div class="col col-md-6 col-md-offset-3">
    <%= form_with(model: @plan, url: user_plan_path(@user, @plan), local: true, method: :patch) do |f| %>

      <%= f.date_field :planned_on, placeholder: "#{Plan.human_attribute_name :code }", disabled: true, class: "form-control user-from" %>

      <div class="btn-plan">
        <%= f.check_box :plan_1, id: "plan_1_check", checked: "" %>
          <label for="plan_1_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_2, id: "plan_2_check", checked: "" %>
          <label for="plan_2_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_3, id: "plan_3_check", checked: "" %>
          <label for="plan_3_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_4, id: "plan_4_check", checked: "" %>
          <label for="plan_4_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_5, id: "plan_5_check", checked: "" %>
          <label for="plan_5_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_6, id: "plan_6_check", checked: "" %>
          <label for="plan_6_check"><span></span></label>
      </div>
      <div class="btn-plan">
        <%= f.check_box :plan_7, id: "plan_7_check", checked: "" %>
          <label for="plan_7_check"><span></span></label>
      </div>
      <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light">
          <= f.check_box :plan_1, placeholder: "#{Plan.human_attribute_name :plan_1}" %>
        <label>
      </div> -->

      <%= f.text_area :note, placeholder: "#{Plan.human_attribute_name :note}", class: "form-control" %>

      <%= f.submit "登録", class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>
